@import '../../styles/variables.scss';

.home{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-rows: minmax(180px,auto);
    padding: 0 15px 0 15px;

    .box{
        padding: 20px;
        border-radius: 10px;
        border: 2px solid $soft-bg;
        background-color: $main-bg;
    }

    .box1,.box4{
        grid-column: span 1;
        grid-row:span 3;
    }

    .box7{
        grid-column: span 2;
        grid-row: span 2;
    }
}
