.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;

    span{
        &:first-child{
            font-weight: bold;
        }
        &:last-child:hover{
            cursor: pointer;
            color: aqua;
        }
    }
}